/*Schrijf hier jouw css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F2F3D9;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #151E3F;
    padding: 40px;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.anchor ~ a {
    justify-content: flex-end;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

h1, h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 40px;
    padding: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #C16E70;
    width: 280px;
    height: 350px;
    border-radius: 10px;
    justify-content: flex-end;
    text-align: center;
    padding: 30px;
}